<script type="module" src="/assets/js/admin/changes.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Изменения:</h2>
        </div>
        <div class="col-sm-4 text-center">
            <h3>Пользователи</h3>
            <div id="userChanges"></div>
        </div>
        <div class="col-sm-4 text-center">
            <h3>Посты</h3>
            <div id="postChanges"></div>
        </div>
        <div class="col-sm-4 text-center">
            <h3>Администратор</h3>
            <div id="adminChanges"></div>
        </div>
    </div>
</div>