<script type="text/javascript" src="/assets/js/comment/sendComment.js"></script>
<script type="text/javascript" src="/assets/js/form/form.js"></script>
<script type="module" src="/assets/js/post/post.js"></script>
<script type="text/javascript" src="/assets/js/comment/comments.js"></script>
<link rel="stylesheet" href="/assets/css/post.css">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
            <h1 class=" mt-4 mb-4" id="title"></h1>
        </div>
        <div class="col-sm-12 text-center mt-3 ">
            <img src="" alt="" id="preview">
        </div>
        <div class="col-sm-12 text-center mt-4 mb-4" id="content">
        </div>
        <div class="col-sm-12 text-center mt-3 ">
            <img src="" alt="" id="mainImage">
        </div>
        <div class="col-sm-12 text-center mt-3 mb-3 author"><strong>Автор:</strong>
            <strong class="text-center mt-4 mb-4" id="author"></strong>
        </div>
        <div class="col-sm-12 text-center mt-3 mb-3" id="views">
            <i class="fa-solid fa-eye"></i>
        </div>
        <div class="col-sm-12  mt-3 mb-3" id="addCommentContainer">
        </div>
        <div class="col-sm-12 t-3 mb-3" id="commentsContainer">
        </div>
    </div>
</div>
