.container-fluid {
    word-wrap: break-word;
}

.content {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
}

.navbar {
    padding-left: 190px;
    padding-right: 190px;
}

.profile:hover {
    background-color: forestgreen;
}

.exit:hover {
    background-color: darkred;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    margin-top: auto;
}

.main-card {
    height: 300px;
    margin-bottom: 25px;
}

.links {
    font-size: 15px;
    border: 1px solid silver;
    border-radius: 7px;
    margin-bottom: 25px;
}

/* Стили для мобильных устройств */
@media (max-width: 576px) {
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .content {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media (min-width: 577px) and (max-width: 768px) {
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }

    .content {
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media (min-width: 769px) {
    .navbar {
        padding-left: 190px;
        padding-right: 190px;
    }

    .content {
        padding-left: 200px;
        padding-right: 200px;
    }
}
