<div class="container">
    <h1 class="text-center mb-4">Ваши данные:</h1>
    <div class="row">
        <div class="col-sm-3 text-center">
            <img width="80% text-center" id="userAvatar" src="" alt="">
            <form onsubmit="changeAvatar(this); return false">
                <input type="file" name="avatar" class="form-control mt-5">
                <input type="submit" value="загрузить" class="form-control btn btn-secondary mt-2">
            </form>
            <p class="text-danger" id="errorChange" hidden>Недопустимый формат файла</p>
            <p class="text-danger" id="errorNoUploadFile" hidden>Отсутствует файл для загрузки</p>
            <form onsubmit="deleteAvatar(this); return false">
                <input type="submit" value="удалить" class="form-control btn btn-secondary mt-2">
            </form>
            <p class="text-danger" id="errorDelete" hidden>Нету аватара для удаления</p>
        </div>
        <div class="col-sm-9">
            <p><strong>Имя: </strong><span id="name"></span></p>
            <p><strong>Фамилия: </strong><span id="lastname"></span></p>
            <p><strong>Никнейм: </strong><span id="login"></span></p>
            <p><strong>Email: </strong><span id="email"></span></p>
            <p><strong>ID: </strong><span id="userId"></span></p>
        </div>
    </div>
</div>
<script>
    const name = document.getElementById('name');
    const lastname = document.getElementById('lastname');
    const login = document.getElementById('login');
    const email = document.getElementById('email');
    const userAvatar = document.getElementById('userAvatar');
    const userId = document.getElementById('userId');
    const errorChange = document.getElementById('errorChange');
    const errorDelete = document.getElementById('errorDelete');
    const errorNoUploadFile = document.getElementById('errorNoUploadFile');

    function changeAvatar(form) {
        errorChange.hidden = true;
        errorNoUploadFile.hidden = true;
        if (!form.elements.avatar.files[0]) {
            errorNoUploadFile.hidden = false;
        }
        const formData = new FormData(form);
        fetch('/changeAvatar', {
            method: "POST",
            body: formData
        }).then(response => response.json())
            .then(result => {
                if (result.result === 'success') {
                    location.reload();
                } else if (result.result === 'errorChange') {
                    errorChange.hidden = false;
                }

            })
    }

    function deleteAvatar(form) {
        errorDelete.hidden = true;
        const formData = new FormData(form);
        fetch('/deleteAvatar', {
            method: "POST",
            body: formData
        }).then(response => response.json())
            .then(result => {
                if (result.result === 'success') {
                    location.reload();
                } else {
                    errorDelete.hidden = false;
                }
            })
    }

    fetch('/getUserData')
        .then(response => response.json())
        .then(result => {
            if (result.id) {
                name.innerText = result.name;
                lastname.innerText = result.lastname;
                login.innerText = result.login;
                email.innerText = result.email;
                userId.innerText = result.id;
                userAvatar.src = result.img;
            } else {
                location.href = '/login';
            }
        })

    let pageTitle = "Профиль";
    document.getElementById('pageTitle').innerText = pageTitle;
</script>