<div class="row">
    <div class="col-sm-8">
        <div class="main-card card">
            <img src="../../index.php" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Заголовок карточки</h5>
                <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                    составлять основную часть содержимого карты.</p>
                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <ul class="links nav">
            <div class="row">
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/primitiveSociety/1">Первобытное общество</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/antiquity/1">Античность</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/middleAges/1">Средневековье</a>
                    </li>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/ww1/1">WW1</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/ww2/1">WW2</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/newHistory/1">Новейшая история</a>
                    </li>
                </div>
            </div>
        </ul>
        <div class="container-fluid">
            <a class="btn btn-secondary form-control me-2" href="/addPost" role="button">Добавить статью</a>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="../../index.php" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок карточки</h5>
                        <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                            естественного
                            перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../index.php" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок карточки</h5>
                        <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                            естественного
                            перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../index.php" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок карточки</h5>
                        <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                            естественного
                            перехода к дополнительному контенту.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../index.php" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок карточки</h5>
                        <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                            естественного
                            перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

