<script type="module" src="/assets/js/post/popularPosts.js"></script>
<div class="row" id="container">
    <h1 class="text-center">Популярное:</h1>
    <div class="col-sm-8 mb-3">
        <div class="main-card card">
            <img src="" class="card-img-top" alt="..." id="mainPreview">
            <div class="card-body">
                <h5 class="card-title" id="mainTitle"></h5>
                <p class="card-text" id="mainContent"></p>
                <a href="#" class="btn btn-primary" id="mainLink">Читать</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <ul class="links nav">
            <div class="row">
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/primitiveSociety/1">Первобытное общество</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/antiquity/1">Античность</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/middleAges/1">Средневековье</a>
                    </li>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/ww1/1">WW1</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/ww2/1">WW2</a>
                    </li>
                </div>
                <div class="col-sm-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/newHistory/1">Новейшая история</a>
                    </li>
                </div>
            </div>
        </ul>
        <div class="container-fluid">
            <a class="btn btn-secondary form-control me-2" href="/addPost" role="button">Добавить статью</a>
        </div>
    </div>
    <div class="col-sm-8 mb-3">
        <div class="row row-cols-1 row-cols-md-2 g-4" id="cardsContainer">
        </div>
    </div>
</div>

