
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.fieldName {
    font-size: 25px;
}


img {
    height: 500px;
    width: 700px;
}

.author {
    font-size: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}