
.empty {
    box-shadow: 0 0 5px 1px red;
}

.empty:focus {
    box-shadow: none;
}

#errorPassword {
    display: none;
}

#errorEmail {
    display: none;
}

#errorNickname {
    display: none;
}

.error {
    display: block !important;
    font-size: 12px;
    color: chocolate;
}

.img {
    width: 400px;
}

.nameAndLastname {
    font-size: 30px;
}

#avatar {
    height: 300px;
    width: 300px;
}